.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #53A567FF;
}

h1 {
  font-size: 50px;
  font-family: 'Monoton';
}

.top {
  width: 100%;
  background-color: rgb(49, 137, 175);
}

.title {
  font-size: 80px;
  font-family: 'Monoton';
  margin-top: -20px;
  color: black;
  background-color: #DA291CFF;
}

.user-card {
  padding: 40px;
  font-size: 14px;
  text-align: center;
}

.location {
  text-align: center;
}

.bio {
  text-align: center;
}

.user-card-image {
  width: 20%;
  border-radius: 20px;
  border: 3px solid black;
}

.follower-card {
  border: 1px solid black;
  padding: 10px;
  margin: 50px;
  font-size: .75rem;
  background-color: rgb(49, 137, 175);
  border-radius: 20px;
  box-shadow: 6px 6px;
}

.follower-card:hover {
  background-color: #DA291CFF
}

.follower-card-image {
  width: 100%;
  border-radius: 20px;
}